## Vision-Python Demonstration Workbook: Vision Language

*Objective*: To illustrate access to a vision service that delivers standard python-ready json structures with the longer-term goal of demonstrating access to client FAST environments.


### Audience

This notebook contains some basic Vision coding examples that illustrate access and manipulation of data in the Vision from your python environment.  Vision expressions can return text or python dictionary structures.  The audience for these examples is expected to have basic familiarity with the Vision language and with pthon

#### Notes

* This notebook provides a number of examples that fetch data from a Vision federated database utilizing an open-source node-js package talking to vision.  This is a work-in-progress designed to demonstrate concepts.  Only FactSet internals will have access to this database.  All of the components demonstrated here are designed to work with client FAST environments.


### Getting Started

To begin, you will need to import the Vision Connection (vconnect) module.  __[Get the <i>vconnect</i> module here](https://github.com/LeslieNewman/Vi-Py/blob/main/py/vconnect.py)__ .  Store this file locally in your normal work area.  The examples will be using several functions from this module:

* *vc.runvget* is used to submit a Vision expression as a *get* url.
* *vc.runvision* is used to run a Vision query and return the results as text
* *vc.runvisionJSON* is used to run a Vision query and return the results as a JSON dictionary.  

The examples below also use the *DataFrame* class from the *pandas* module, so you probably want to import that as well.

In [2]:
import pandas as pd
import vconnect as vc

### Waking up the Vision Service

This demo is leveraging a non-production service running on a dev box.  At any time, the service may be in one of the following states:

1. Available
1. Needing Restart
1. Dead

The following code can be run to determine which state the service is in:

>`
  vc.runvision ('SecurityMap locateId: "FDS" . profile')
>`

If the service is **available**, you will see a report show the vendor mapping for the supplied identifier (FDS).  If the service is **needing restart**, you will get an error message that includes the text *RemoteDisconnected* after a minute or so.  If you see this message, you should run the code again which should restart the service for you.  This step may take a minute or two to finish.  If you get another error message, the service is most like **dead** and will need manual intervention on the unix account.

In [3]:
#-- wake up the Vision service

query = 'SecurityMap locateId: "FDS" . profile'
response = vc.runvision(query)
print (response)

SecurityMap entry 303075105
Aliases: CUSIP_303075105 | MSCITSCODE_TS66137 | PERMID_DJC0PL-S-US | SEDOL_2329770 | TICKERUS_FDS |

 * FactSet   303075105    FDS          FACTSET RESEARCH SYSTEMS INC
   FundPricesDefault      Default      Default
   CSIStandar30307510     FDS          FACTSET RESEARCH SYSTEMS INC
   CSIResearcDefault      Default      Default
   Msci      TS66137      TS66137      FACTSET RESEARCH SYSTEMS
   Worldscope303075105   C    FDS        303075105  2329770   US3030751057  FACTSET RESEARCH SYSTEMS INC.
   IbesDomMM FD1          FD1          FACTSET RESEARCH SYSTEMS INC
   IbesIntMM Default      Default      Default
   SandP     30307510     FDS          FactSet Research System Inc
   Russell   30307510     FDS          FACTSET RESEARCH SYSTEMS
   Topix     Default      Default      Default
   Ftse      C69897.F     C69897.F     Factset Research Systems
   DJStoxx   SC000FDS     SC000FDS     FACTSET RESEARCH SYS.
   LocalVisioDefault      Default      Default

## Running Basic Vision Expressions

The function *vc.runvision* is used to execute a Vision expression supplied as a string parameter, returning text.

In [4]:
#-- As basic as you can get
vc.runvision('2+2')

'     4.00\n'

In [5]:
#-- show all the currencies
vc.runvision('Currency masterListCodes')

'Code   Name\nUSD    US Dollar\nCAD    Canadian Dollar\nEUR    Euro Dollar\nLEGACY LEGACY\nATS    Austrian Schilling\nBEF    Belgian Franc\nFIM    Finnish Markka\nFRF    French Franc\nDEM    German Deutschmark\nIEP    Irish Punt\nITL    Italian Lira\nNLG    Netherlands Guilder\nPTE    Portugese Escudo\nESP    Spanish Peseta\nLUF    Luxembourg Franc\nGRD    GRD\n\n'

In [6]:
#--  make that look prettier
print(vc.runvision('Currency masterListCodes'))

Code   Name
USD    US Dollar
CAD    Canadian Dollar
EUR    Euro Dollar
LEGACY LEGACY
ATS    Austrian Schilling
BEF    Belgian Franc
FIM    Finnish Markka
FRF    French Franc
DEM    German Deutschmark
IEP    Irish Punt
ITL    Italian Lira
NLG    Netherlands Guilder
PTE    Portugese Escudo
ESP    Spanish Peseta
LUF    Luxembourg Franc
GRD    GRD

In [7]:
#--  capture the output for later use
result = vc.runvision('Currency masterListCodes')
print (result)

Code   Name
USD    US Dollar
CAD    Canadian Dollar
EUR    Euro Dollar
LEGACY LEGACY
ATS    Austrian Schilling
BEF    Belgian Franc
FIM    Finnish Markka
FRF    French Franc
DEM    German Deutschmark
IEP    Irish Punt
ITL    Italian Lira
NLG    Netherlands Guilder
PTE    Portugese Escudo
ESP    Spanish Peseta
LUF    Luxembourg Franc
GRD    GRD

In [8]:
#--  Since we are just returninig text, any Selector Not Founds will flow right through
result = vc.runvision('Currency makeBelieveMessage')
print (result)

>>> Selector 'makeBelieveMessage' Not Found <<<
      NA

## Running Vision Expressions that Return JSON

The function *vc.runvisionJSON* is used to execute a Vision expression that is designed to return a dictionary object.  There are several ways to use Vision to create an object that can be transported to python via a JSON represenstation.  The following methods have been defined at the new Vision class _JS_ to return a python *array* of *dict* objects:

* *getArrayFrom: block for: itemString*
* *getArrayFrom: block for: itemString over: dateList*

where:
* *block* is a Vision block containing the code to run.  This code shoud return a Vision Collection object
* *itemString* is a string containing a comma-separated set of vision expressions to run for each element of the collection
* *dateList* is a list of dates or a Vision DateRange.  If omitted, ^date is used

These methods return a dictionary structure which includes:

* *rowCount*  :  number of rows returned in the array
* *colCount*  :  number of columns returned in the array
* *items*  :  array of item expressions requested  (the keys)
* *dates*  :  array of dates requests
* *array*  : array of dict objects containing the values for each key

In [9]:
#--  First example using getArray
#--  List all the currencies and their latest exchange rate

vcode = '''
JS getArrayFrom: [ CurrencyMap factset masterList ]
   for: "name,usExchange"
'''
vc.runvisionJSON(vcode)

{'rowCount': 212,
 'colCount': 4,
 'items': ['id', 'date', 'name', 'usExchange'],
 'dates': [20201114],
 'array': [{'id': 'USD',
   'date': 20201114,
   'usExchange': 1,
   'name': 'U.S. Dollar'},
  {'id': 'CAD',
   'date': 20201114,
   'usExchange': 1.31635,
   'name': 'Canadian Dollar'},
  {'id': 'EUR',
   'date': 20201114,
   'usExchange': 0.8460237,
   'name': 'Euro Dollar'},
  {'id': 'LEGACY',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'LEGACY'},
  {'id': 'ATS',
   'date': 20201114,
   'usExchange': 11.641539919110002,
   'name': 'Austrian Schilling'},
  {'id': 'BEF',
   'date': 20201114,
   'usExchange': 34.128511455630004,
   'name': 'Belgian Franc'},
  {'id': 'FIM',
   'date': 20201114,
   'usExchange': 5.030228493801,
   'name': 'Finnish Markka'},
  {'id': 'FRF',
   'date': 20201114,
   'usExchange': 5.5495516818090005,
   'name': 'French Franc'},
  {'id': 'DEM',
   'date': 20201114,
   'usExchange': 1.654678533171,
   'name': 'German Deutschmark'},
  {'id': 'IEP',
   'date': 20201114,
   'usExchange': 0.6662978092668,
   'name': 'Irish Punt'},
  {'id': 'ITL',
   'date': 20201114,
   'usExchange': 1638.1303095990002,
   'name': 'Italian Lira'},
  {'id': 'NLG',
   'date': 20201114,
   'usExchange': 1.8643908879270001,
   'name': 'Netherlands Guilder'},
  {'id': 'PTE',
   'date': 20201114,
   'usExchange': 169.6125234234,
   'name': 'Portugese Escudo'},
  {'id': 'ESP',
   'date': 20201114,
   'usExchange': 140.7664993482,
   'name': 'Spanish Peseta'},
  {'id': 'LUF',
   'date': 20201114,
   'usExchange': 34.128511455630004,
   'name': 'Luxembourg Franc'},
  {'id': 'GRD',
   'date': 20201114,
   'usExchange': 288.2818255550238,
   'name': 'Greek Drachma'},
  {'id': 'AFA',
   'date': 20201114,
   'usExchange': 0.01676727046,
   'name': 'Afghanistan Afghani (old)'},
  {'id': 'ALL',
   'date': 20201114,
   'usExchange': 104.63,
   'name': 'Albanian Lek'},
  {'id': 'DZD',
   'date': 20201114,
   'usExchange': 128.908,
   'name': 'Algerian Dinar'},
  {'id': 'AON',
   'date': 20201114,
   'usExchange': 0.01498576277,
   'name': 'Angolan New Kwanza'},
  {'id': 'ARS',
   'date': 20201114,
   'usExchange': 79.7366,
   'name': 'Argentine Peso'},
  {'id': 'AMD',
   'date': 20201114,
   'usExchange': 493.33237,
   'name': 'Armenia Dram'},
  {'id': 'AWG',
   'date': 20201114,
   'usExchange': 1.7899998,
   'name': 'Aruban Guilder'},
  {'id': 'AUD',
   'date': 20201114,
   'usExchange': 1.3799765,
   'name': 'Australian Dollar'},
  {'id': 'AZM',
   'date': 20201114,
   'usExchange': 8495,
   'name': 'Azerbaijan Manat'},
  {'id': 'BSD', 'date': 20201114, 'usExchange': 1, 'name': 'Bahamas Dollar'},
  {'id': 'BHD',
   'date': 20201114,
   'usExchange': 0.3771,
   'name': 'Bahraini Dinar'},
  {'id': 'BDT',
   'date': 20201114,
   'usExchange': 84.8,
   'name': 'Bangladesh Taka'},
  {'id': 'BBD', 'date': 20201114, 'usExchange': 2, 'name': 'Barbados Dollar'},
  {'id': 'BYB',
   'date': 20201114,
   'usExchange': 9610,
   'name': 'Belarus Rouble'},
  {'id': 'BZD', 'date': 20201114, 'usExchange': 2, 'name': 'Belize Dollar'},
  {'id': 'BMD', 'date': 20201114, 'usExchange': 1, 'name': 'Bermuda Dollar'},
  {'id': 'BTN',
   'date': 20201114,
   'usExchange': 74.6175,
   'name': 'Bhutan Ngultrum'},
  {'id': 'BOB',
   'date': 20201114,
   'usExchange': 6.9100003,
   'name': 'Bolivian Boliviano'},
  {'id': 'BWP',
   'date': 20201114,
   'usExchange': 11.160714,
   'name': 'Botswana Pula'},
  {'id': 'BRL',
   'date': 20201114,
   'usExchange': 5.5185,
   'name': 'Brazilian Real'},
  {'id': 'GBP',
   'date': 20201114,
   'usExchange': 0.7598207,
   'name': 'British Pounds'},
  {'id': 'BND',
   'date': 20201114,
   'usExchange': 1.3486,
   'name': 'Brunei Dollar'},
  {'id': 'BGN',
   'date': 20201114,
   'usExchange': 1.65455,
   'name': 'Bulgarian Lev'},
  {'id': 'BIF',
   'date': 20201114,
   'usExchange': 1939.9999,
   'name': 'Burundi Franc'},
  {'id': 'XAF',
   'date': 20201114,
   'usExchange': 554.95514,
   'name': 'C.F.A Franc'},
  {'id': 'XPF',
   'date': 20201114,
   'usExchange': 100.95745,
   'name': 'C.F.P. Franc'},
  {'id': 'KHR',
   'date': 20201114,
   'usExchange': 4063.0715,
   'name': 'Cambodian Riel'},
  {'id': 'CVE',
   'date': 20201114,
   'usExchange': 93.68146,
   'name': 'Cape Verde Is. Escudo'},
  {'id': 'KYD',
   'date': 20201114,
   'usExchange': 0.82,
   'name': 'Cayman Islands Dollar'},
  {'id': 'CLP',
   'date': 20201114,
   'usExchange': 766.88,
   'name': 'Chilean Peso'},
  {'id': 'CLF',
   'date': 20201114,
   'usExchange': 0.026313994,
   'name': 'Chile U.F.'},
  {'id': 'CNY',
   'date': 20201114,
   'usExchange': 6.6144004,
   'name': 'China Renminbi'},
  {'id': 'COP',
   'date': 20201114,
   'usExchange': 3638.58,
   'name': 'Colombian Peso'},
  {'id': 'KMF',
   'date': 20201114,
   'usExchange': 416.2164,
   'name': 'Comoros Franc'},
  {'id': 'CRC',
   'date': 20201114,
   'usExchange': 611.835,
   'name': 'Costa Rica Colon'},
  {'id': 'HRK',
   'date': 20201114,
   'usExchange': 6.4065003,
   'name': 'Croatian Kuna'},
  {'id': 'CUP', 'date': 20201114, 'usExchange': 1, 'name': 'Cuban Peso'},
  {'id': 'CYP',
   'date': 20201114,
   'usExchange': 0.4951556749938,
   'name': 'Cyprus Pound'},
  {'id': 'CZK',
   'date': 20201114,
   'usExchange': 22.3659,
   'name': 'Czechoslovak Koruna'},
  {'id': 'DKK',
   'date': 20201114,
   'usExchange': 6.2996,
   'name': 'Danish Krone'},
  {'id': 'DJF',
   'date': 20201114,
   'usExchange': 178.00464,
   'name': 'Djibouti Franc'},
  {'id': 'DOP',
   'date': 20201114,
   'usExchange': 58.45,
   'name': 'Dominican Rep. Peso'},
  {'id': 'XCD',
   'date': 20201114,
   'usExchange': 2.7,
   'name': 'East Caribbean Dollar'},
  {'id': 'DDM',
   'date': 20201114,
   'usExchange': 1.7952063,
   'name': 'East German Ostmark'},
  {'id': 'ECS',
   'date': 20201114,
   'usExchange': 25000,
   'name': 'Ecuador Sucre'},
  {'id': 'EGP',
   'date': 20201114,
   'usExchange': 15.64,
   'name': 'Egyptian Pound'},
  {'id': 'SVC',
   'date': 20201114,
   'usExchange': 8.75,
   'name': 'El Salvador Colon'},
  {'id': 'EEK',
   'date': 20201114,
   'usExchange': 13.23739442442,
   'name': 'Estonian Kroon'},
  {'id': 'ETB',
   'date': 20201114,
   'usExchange': 37.94225,
   'name': 'Ethiopian Birr'},
  {'id': 'XEU',
   'date': 20201114,
   'usExchange': 0.8460237,
   'name': 'European Currency Unit'},
  {'id': 'FKP',
   'date': 20201114,
   'usExchange': 0.7589845,
   'name': 'Falkland Is. Pound'},
  {'id': 'FJD',
   'date': 20201114,
   'usExchange': 2.09985,
   'name': 'Fiji Dollar'},
  {'id': 'GMD',
   'date': 20201114,
   'usExchange': 52.075,
   'name': 'Gambia Dalasi'},
  {'id': 'GEK',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'Georgian Coupon'},
  {'id': 'GHC', 'date': 20201114, 'usExchange': 58325, 'name': 'Ghana Cedi'},
  {'id': 'GIP',
   'date': 20201114,
   'usExchange': 0.7589845,
   'name': 'Gibraltar Pound'},
  {'id': 'GTQ',
   'date': 20201114,
   'usExchange': 7.7768,
   'name': 'Guatemala Quentzal'},
  {'id': 'GNF', 'date': 20201114, 'usExchange': 9803, 'name': 'Guinea Franc'},
  {'id': 'GWP',
   'date': 20201114,
   'usExchange': 35420.324,
   'name': 'Guinea-Bissau Peso'},
  {'id': 'GYD',
   'date': 20201114,
   'usExchange': 209.15337,
   'name': 'Guyana Dollar'},
  {'id': 'HTG',
   'date': 20201114,
   'usExchange': 63.313496,
   'name': 'Haiti Gourde'},
  {'id': 'HNL',
   'date': 20201114,
   'usExchange': 24.3071,
   'name': 'Honduras Lempira'},
  {'id': 'HKD',
   'date': 20201114,
   'usExchange': 7.7535005,
   'name': 'Hong Kong Dollar'},
  {'id': 'HUF',
   'date': 20201114,
   'usExchange': 302.15314,
   'name': 'Hungarian Forint'},
  {'id': 'ISK',
   'date': 20201114,
   'usExchange': 136.61,
   'name': 'Icelandic Krona'},
  {'id': 'INR',
   'date': 20201114,
   'usExchange': 74.6175,
   'name': 'Indian Rupee'},
  {'id': 'IDR',
   'date': 20201114,
   'usExchange': 14170,
   'name': 'Indonesian Rupiah'},
  {'id': 'IRR',
   'date': 20201114,
   'usExchange': 41918.793,
   'name': 'Iran Rial'},
  {'id': 'IQD',
   'date': 20201114,
   'usExchange': 1189.7083,
   'name': 'Iraqi Dinar'},
  {'id': 'ILS',
   'date': 20201114,
   'usExchange': 3.3684497,
   'name': 'Israeli Shekel'},
  {'id': 'JMD',
   'date': 20201114,
   'usExchange': 148.06766,
   'name': 'Jamaican Dollar'},
  {'id': 'JPY',
   'date': 20201114,
   'usExchange': 104.64,
   'name': 'Japanese Yen'},
  {'id': 'JOD',
   'date': 20201114,
   'usExchange': 0.709,
   'name': 'Jordanian Dinar'},
  {'id': 'KZT',
   'date': 20201114,
   'usExchange': 429.70502,
   'name': 'Kazakhstan Tenge'},
  {'id': 'KES',
   'date': 20201114,
   'usExchange': 109.2,
   'name': 'Kenya Shilling'},
  {'id': 'KWD',
   'date': 20201114,
   'usExchange': 0.3058,
   'name': 'Kuwait Dinar'},
  {'id': 'KGS',
   'date': 20201114,
   'usExchange': 84.5083,
   'name': 'Kyrgyzstan Som'},
  {'id': 'LAK',
   'date': 20201114,
   'usExchange': 9279.117,
   'name': 'Laos New Kip'},
  {'id': 'LVL',
   'date': 20201114,
   'usExchange': 0.5945888404548,
   'name': 'Latvian Lats'},
  {'id': 'LBP',
   'date': 20201114,
   'usExchange': 1515.9999,
   'name': 'Lebanese Pound'},
  {'id': 'LEG',
   'date': 20201114,
   'usExchange': 0.03422313564,
   'name': 'Legacy National Currency'},
  {'id': 'LSL',
   'date': 20201114,
   'usExchange': 15.596251,
   'name': 'Lesotho Loti'},
  {'id': 'LRD',
   'date': 20201114,
   'usExchange': 160.98714,
   'name': 'Liberian Dollar'},
  {'id': 'LYD',
   'date': 20201114,
   'usExchange': 1.3616183,
   'name': 'Libyan Dinar'},
  {'id': 'LTL',
   'date': 20201114,
   'usExchange': 2.92115063136,
   'name': 'Lithuanian Litas'},
  {'id': 'MOP',
   'date': 20201114,
   'usExchange': 7.9861007,
   'name': 'Macau Pataca'},
  {'id': 'MKD',
   'date': 20201114,
   'usExchange': 52.095,
   'name': 'Macedonian Denar'},
  {'id': 'MGF',
   'date': 20201114,
   'usExchange': 19772.5,
   'name': 'Malagasy Franc'},
  {'id': 'MWK',
   'date': 20201114,
   'usExchange': 758.3,
   'name': 'Malawi Kwacha'},
  {'id': 'MYR',
   'date': 20201114,
   'usExchange': 4.124,
   'name': 'Malaysian Ringgit'},
  {'id': 'MVR',
   'date': 20201114,
   'usExchange': 15.42,
   'name': 'Maldive Is. Rufiyaa'},
  {'id': 'MTL',
   'date': 20201114,
   'usExchange': 0.36319797441,
   'name': 'Maltese Lira'},
  {'id': 'MRO',
   'date': 20201114,
   'usExchange': 370.35,
   'name': 'Mauritania Ouguiya'},
  {'id': 'MUR',
   'date': 20201114,
   'usExchange': 40.155,
   'name': 'Mauritian Rupee'},
  {'id': 'MXN',
   'date': 20201114,
   'usExchange': 20.5315,
   'name': 'Mexican Peso'},
  {'id': 'MDL', 'date': 20201114, 'usExchange': 17.12, 'name': 'Moldovan Leu'},
  {'id': 'MNT',
   'date': 20201114,
   'usExchange': 2840,
   'name': 'Mongolian Tugrik'},
  {'id': 'MAD',
   'date': 20201114,
   'usExchange': 9.1476,
   'name': 'Moroccan Dirham'},
  {'id': 'MZM',
   'date': 20201114,
   'usExchange': 73530,
   'name': 'Mozambique Metical'},
  {'id': 'MMK',
   'date': 20201114,
   'usExchange': 1292.7252,
   'name': 'Myanmar (Burma) Kyat'},
  {'id': 'NAD',
   'date': 20201114,
   'usExchange': 15.596251,
   'name': 'Namibian Dollar'},
  {'id': 'NPR',
   'date': 20201114,
   'usExchange': 119.38801,
   'name': 'Nepalese Rupee'},
  {'id': 'ANG',
   'date': 20201114,
   'usExchange': 1.7899998,
   'name': 'Netherlands Antilles Guilder'},
  {'id': 'NZD',
   'date': 20201114,
   'usExchange': 1.4628438,
   'name': 'New Zealand Dollar'},
  {'id': 'NIO',
   'date': 20201114,
   'usExchange': 34.7184,
   'name': 'Nicaragua Cordoba Oro'},
  {'id': 'NGN',
   'date': 20201114,
   'usExchange': 385.5,
   'name': 'Nigerian Naira'},
  {'id': 'KPW',
   'date': 20201114,
   'usExchange': 899.7882,
   'name': 'North Korean Won'},
  {'id': 'NOK',
   'date': 20201114,
   'usExchange': 9.1635,
   'name': 'Norwegian Krone'},
  {'id': 'OMR', 'date': 20201114, 'usExchange': 0.385, 'name': 'Oman Rial'},
  {'id': 'PKR', 'date': 20201114, 'usExchange': 158, 'name': 'Pakistan Rupee'},
  {'id': 'PAB', 'date': 20201114, 'usExchange': 1, 'name': 'Panama Balboa'},
  {'id': 'PGK',
   'date': 20201114,
   'usExchange': 3.4995997,
   'name': 'Papua and New Guinea Kina'},
  {'id': 'PYG',
   'date': 20201114,
   'usExchange': 7038.9253,
   'name': 'Paraguay Guarani'},
  {'id': 'PEN',
   'date': 20201114,
   'usExchange': 3.6482,
   'name': 'Peruvian New Sol'},
  {'id': 'PHP',
   'date': 20201114,
   'usExchange': 48.215,
   'name': 'Philippines Peso'},
  {'id': 'PLN',
   'date': 20201114,
   'usExchange': 3.79745,
   'name': 'Polish Zloty'},
  {'id': 'QAR',
   'date': 20201114,
   'usExchange': 3.6409998,
   'name': 'Qatari Rial'},
  {'id': 'ROL',
   'date': 20201114,
   'usExchange': 41199.004,
   'name': 'Romanian Leu'},
  {'id': 'RUB',
   'date': 20201114,
   'usExchange': 77.61505,
   'name': 'Russian Rouble'},
  {'id': 'RWF',
   'date': 20201114,
   'usExchange': 975.6149,
   'name': 'Rwanda Franc'},
  {'id': 'STD',
   'date': 20201114,
   'usExchange': 21430.105,
   'name': 'Sao Tome & Principe Dobra'},
  {'id': 'SAR',
   'date': 20201114,
   'usExchange': 3.7505,
   'name': 'Saudi Arabian Riyal'},
  {'id': 'SCR',
   'date': 20201114,
   'usExchange': 20.65865,
   'name': 'Seychelles Rupee'},
  {'id': 'SLL',
   'date': 20201114,
   'usExchange': 10200,
   'name': 'Sierra Leone Leone'},
  {'id': 'SGD',
   'date': 20201114,
   'usExchange': 1.3486,
   'name': 'Singapore Dollar'},
  {'id': 'SKK',
   'date': 20201114,
   'usExchange': 25.487309986200003,
   'name': 'Slovakia Koruna'},
  {'id': 'SIT',
   'date': 20201114,
   'usExchange': 202.741119468,
   'name': 'Slovenian Tolar'},
  {'id': 'SBD',
   'date': 20201114,
   'usExchange': 8.14664,
   'name': 'Solomon Is. Dollar'},
  {'id': 'SOS',
   'date': 20201114,
   'usExchange': 583.3631,
   'name': 'Somali Shilling'},
  {'id': 'ZAR',
   'date': 20201114,
   'usExchange': 15.596251,
   'name': 'South African Rand'},
  {'id': 'KRW',
   'date': 20201114,
   'usExchange': 1115.6,
   'name': 'South Korean Won'},
  {'id': 'LKR',
   'date': 20201114,
   'usExchange': 184.65,
   'name': 'Sri Lanka Rupee'},
  {'id': 'SHP',
   'date': 20201114,
   'usExchange': 0.7589845,
   'name': 'St. Helena Pound'},
  {'id': 'SDD',
   'date': 20201114,
   'usExchange': 5497.317,
   'name': 'Sudanese Pound'},
  {'id': 'SRG',
   'date': 20201114,
   'usExchange': 0.64520289345,
   'name': 'Surinam Guilder'},
  {'id': 'SZL',
   'date': 20201114,
   'usExchange': 15.596251,
   'name': 'Swaziland Lilangeni'},
  {'id': 'SEK',
   'date': 20201114,
   'usExchange': 8.70475,
   'name': 'Swedish Krona'},
  {'id': 'CHF',
   'date': 20201114,
   'usExchange': 0.91375,
   'name': 'Swiss Franc'},
  {'id': 'SYP',
   'date': 20201114,
   'usExchange': 1254.322,
   'name': 'Syrian Pound'},
  {'id': 'TWD',
   'date': 20201114,
   'usExchange': 28.5105,
   'name': 'Taiwan Dollar'},
  {'id': 'TJR',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'Tajikistan Rouble'},
  {'id': 'TZS',
   'date': 20201114,
   'usExchange': 2319,
   'name': 'Tanzania Shilling'},
  {'id': 'THB',
   'date': 20201114,
   'usExchange': 30.179998,
   'name': 'Thailand Baht'},
  {'id': 'TOP',
   'date': 20201114,
   'usExchange': 2.2909508,
   'name': "Tonga Pa'anga"},
  {'id': 'TTD',
   'date': 20201114,
   'usExchange': 6.7717505,
   'name': 'Trinidad and Tobago Dollar'},
  {'id': 'TND',
   'date': 20201114,
   'usExchange': 2.746,
   'name': 'Tunisian Dinar'},
  {'id': 'TRL',
   'date': 20201114,
   'usExchange': 7667000,
   'name': 'Turkish Old Lira'},
  {'id': 'TMM',
   'date': 20201114,
   'usExchange': 1.10253582604,
   'name': 'Turkmenistan Manet'},
  {'id': 'AED', 'date': 20201114, 'usExchange': 3.67315, 'name': 'UAE Dirham'},
  {'id': 'UGX',
   'date': 20201114,
   'usExchange': 3695,
   'name': 'Uganda Shilling (old)'},
  {'id': 'UAH',
   'date': 20201114,
   'usExchange': 28.12115,
   'name': 'Ukraine Karbovanets'},
  {'id': 'UYU',
   'date': 20201114,
   'usExchange': 42.86,
   'name': 'Uruguay Peso (old)'},
  {'id': 'UZS',
   'date': 20201114,
   'usExchange': 10378.88,
   'name': 'Uzbekistan Sum'},
  {'id': 'VUV',
   'date': 20201114,
   'usExchange': 112.925,
   'name': 'Vanuatu Vatu'},
  {'id': 'VEB',
   'date': 20201114,
   'usExchange': 52682094000000,
   'name': 'Venezuelan Old Bolivar'},
  {'id': 'VND', 'date': 20201114, 'usExchange': 23176, 'name': 'Vietnam Dong'},
  {'id': 'WST',
   'date': 20201114,
   'usExchange': 2.5839794,
   'name': 'Western Somoa Tala'},
  {'id': 'YER', 'date': 20201114, 'usExchange': 250.22, 'name': 'Yemeni Rial'},
  {'id': 'YUN',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'Yugoslav New Dinar'},
  {'id': 'ZRN',
   'date': 20201114,
   'usExchange': 1966.0049,
   'name': 'Zaire Zaire'},
  {'id': 'ZMK',
   'date': 20201114,
   'usExchange': 20900,
   'name': 'Zambian Kwacha'},
  {'id': 'ZWD',
   'date': 20201114,
   'usExchange': 322.355,
   'name': 'Zimbabwe Dollar'},
  {'id': 'AFN',
   'date': 20201114,
   'usExchange': 76.75534,
   'name': 'Afghanistan Afghani'},
  {'id': 'UYP',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'Uruguay Peso'},
  {'id': 'UGS',
   'date': 20201114,
   'usExchange': 'visionNA',
   'name': 'Uganda Shilling'},
  {'id': 'TRY', 'date': 20201114, 'usExchange': 7.667, 'name': 'Turkish Lira'},
  {'id': 'RON',
   'date': 20201114,
   'usExchange': 4.1199,
   'name': 'New Romanian Leu'},
  {'id': 'ZWN',
   'date': 20201114,
   'usExchange': 322.35553,
   'name': 'Zimbabwe New Dollar'},
  {'id': 'RSD',
   'date': 20201114,
   'usExchange': 99.44,
   'name': 'Serbian New Dinar'},
  {'id': 'GHS', 'date': 20201114, 'usExchange': 5.8325, 'name': 'Ghana Cedi'},
  {'id': 'SDG',
   'date': 20201114,
   'usExchange': 54.97317,
   'name': 'Sudanese Pound'},
  {'id': 'VEF',
   'date': 20201114,
   'usExchange': 52682093000,
   'name': 'Venezuelan Bolivar'},
  {'id': 'BAM',
   'date': 20201114,
   'usExchange': 1.65465,
   'name': 'Bosnian Makra'},
  {'id': 'XOF',
   'date': 20201114,
   'usExchange': 554.95514,
   'name': 'C.F.A Franc BCEAO'},
  {'id': 'MZN',
   'date': 20201114,
   'usExchange': 73.53,
   'name': 'Mozambique New Metical'},
  {'id': 'ZMW',
   'date': 20201114,
   'usExchange': 20.9,
   'name': 'Zambian Kwacha'},
  {'id': 'TJS',
   'date': 20201114,
   'usExchange': 11.297333,
   'name': 'Tajikistan Somoni'},
  {'id': 'GEL',
   'date': 20201114,
   'usExchange': 3.295,
   'name': 'Georgian Lari'},
  {'id': 'AOA', 'date': 20201114, 'usExchange': 660, 'name': 'Angola Kwanza'},
  {'id': 'AZN',
   'date': 20201114,
   'usExchange': 1.699,
   'name': 'Azerbaijan New Manat'},
  {'id': 'BYR',
   'date': 20201114,
   'usExchange': 25672.502,
   'name': 'Belarus Ruble'},
  {'id': 'GBX',
   'date': 20201114,
   'usExchange': 75.98207,
   'name': 'British Pence'},
  {'id': 'CNH',
   'date': 20201114,
   'usExchange': 6.6115,
   'name': 'China Renminbi Off'},
  {'id': 'CDF',
   'date': 20201114,
   'usExchange': 1965,
   'name': 'Congo Dem.c Rep Franc'},
  {'id': 'EUX',
   'date': 20201114,
   'usExchange': 0.8460237,
   'name': 'Euro (GDP Weighted History)'},
  {'id': 'IDT',
   'date': 20201114,
   'usExchange': 11235,
   'name': 'Indonesian Onshore'},
  {'id': 'KWF', 'date': 20201114, 'usExchange': 305.8, 'name': 'Kuwait Fils'},
  {'id': 'MGA',
   'date': 20201114,
   'usExchange': 3954.5002,
   'name': 'Malagasy Ariary'},
  {'id': 'ZAC',
   'date': 20201114,
   'usExchange': 1559.625,
   'name': 'South African Cent'},
  {'id': 'XDR',
   'date': 20201114,
   'usExchange': 0.70405,
   'name': 'Special Drawing Rights'},
  {'id': 'SRD',
   'date': 20201114,
   'usExchange': 14.154,
   'name': 'Surinam Dollar'},
  {'id': 'TOF',
   'date': 20201114,
   'usExchange': 30.190002,
   'name': 'Thailand Baht Offs'},
  {'id': 'ZDN',
   'date': 20201114,
   'usExchange': 81.6741,
   'name': 'Zimbabwe Dollar Notional'},
  {'id': 'BYN',
   'date': 20201114,
   'usExchange': 2.56725,
   'name': 'Belarus Ruble'},
  {'id': 'MRU',
   'date': 20201114,
   'usExchange': 37.035,

In [10]:
#-- Let's pretty it up using pandas DataFrame

vcode = '''
JS getArrayFrom: [ CurrencyMap factset masterList first: 10 ]
   for: "name,usExchange"
'''
result = vc.runvisionJSON(vcode)
pd.DataFrame(result['array'])

       date      id                name usExchange
0  20201114     USD         U.S. Dollar          1
1  20201114     CAD     Canadian Dollar    1.31635
2  20201114     EUR         Euro Dollar   0.846024
3  20201114  LEGACY              LEGACY   visionNA
4  20201114     ATS  Austrian Schilling    11.6415
5  20201114     BEF       Belgian Franc    34.1285
6  20201114     FIM      Finnish Markka    5.03023
7  20201114     FRF        French Franc    5.54955
8  20201114     DEM  German Deutschmark    1.65468
9  20201114     IEP          Irish Punt   0.666298

In [11]:
#-- Add daterange

vcode = '''
JS getArrayFrom: [ CurrencyMap factset masterList first: 5 ]
   for: "usExchange" over: (^date to: ^date - 3 monthEnds by: 1 monthEnds )
'''
result = vc.runvisionJSON(vcode)
pd.DataFrame(result['array'])

        date      id usExchange
0   20201130     USD          1
1   20201031     USD          1
2   20200930     USD          1
3   20200831     USD          1
4   20201130     CAD    1.31635
5   20201031     CAD    1.33335
6   20200930     CAD    1.33575
7   20200831     CAD    1.30295
8   20201130     EUR   0.846024
9   20201031     EUR    0.85848
10  20200930     EUR   0.852769
11  20200831     EUR   0.836155
12  20201130  LEGACY   visionNA
13  20201031  LEGACY   visionNA
14  20200930  LEGACY   visionNA
15  20200831  LEGACY   visionNA
16  20201130     ATS    11.6415
17  20201031     ATS    11.8129
18  20200930     ATS    11.7344
19  20200831     ATS    11.5057

In [28]:
#-- Let's do something with holdings data now
#---  we can add any expression that navigate to data

vcode = '''
JS getArrayFrom: 
    [ Account findId: "sml" .
        holdings sortDown: [ percentOfPort ] . numberElements first: 3 
    ]
   for: "position, security id, account id, shares , percentOfPort, mapEntry factset price"
   over: (^date, ^date - 1 monthEnds, ^date - 1 yearEnds)
'''
result =  vc.runvisionJSON(vcode)
pd.DataFrame(result['array'])

,account id,date,id,mapEntry factset price,percentOfPort,position,security id,shares
0,SML,20191231,23726610-12483W10-12/31/2019,28.08,0.586450,2,DAR,163711000
1,SML,20191231,50187A10-12483W10-12/31/2019,137.76,0.520558,3,LHCG,29620340
2,SML,20191231,58468810-12483W10-12/31/2019,84.94,0.805522,1,MDCO,74337690
3,SML,20201031,85285720-12483W10-10/30/2020,223.24,0.577462,3,STMP,17576000
4,SML,20201031,64049M20-12483W10-10/30/2020,39.23,0.637589,1,NEO,110431000
5,SML,20201031,49714P10-12483W10-10/30/2020,187.47,0.585437,2,KNSL,21218620
6,SML,20201114,11434010-12483W10-11/13/2020,68.49,0.652585,1,BRKS,73760000
7,SML,20201114,64049M20-12483W10-11/13/2020,41.77,0.595860,2,NEO,110431000
8,SML,20201114,49714P10-12483W10-11/13/2020,212.66,0.582897,3,KNSL,21218620

In [29]:
#--  The runvisionJSON function assumes you are returning a JSON structure from Vision
#--  The getArrayFrom: for: over: method will automatically build and return this structure
#--  You will get a python error if the returned object from vision is not JSON
vcode = 'Currency masterListCodes'
#-- run next line to see the python error
#-- vc.runvisionJSON(vcode)

## Building Your Own JSON Structure in Vision

There are a number of new methods defined at the Vision class **JS** that enable you to set key-value pairs in a dictionary object and return the object to your client, in this case, your python program.  The values can be integers, doubles, strings, other objects, or arrays.  

#### Messages defined at **JS** 

* *newObject*              --  create an object that is rendered as an external dictionary object
* *newArrayFrom: list .*   --  converts a vision list to an external array object

* *returnJSON: obj .*   --  return the supplied obj to the client  (note to t&l - repackage this one a bit)

#### Messages define at **JS newObject**

* *set: key to val .*  --  sent to an external object to set supplied key to supplied val

In [16]:
#-- Sample Query: Create an object that contains information about an account

#--  Create the Vision Code to Run
query = '''

!acct <- Account findId: "SP50" ;

#-- Create a JS object with some key/value pairs
!data <- JS newObject
  set: "id" to: acct id .
  set: "name" to: acct name .
  set: "count" to: acct holdings count .
  set: "date" to: acct holdingsDate asInteger ;

#-- Return the object as JSON ( note: jsParm is equivalent of sending asSelf)
JS jsObject returnJSON: data jsParam

'''

#--  Run the vision code
#-- Call Vision to run the expression, returning a JS object
response = vc.runvisionJSON(query)

#--- Print the response and its type
print ("the response is of type ", type(response))
print (response)

#-- When we use the JSON call, the response is converted to a python dictionary
#-- so we can access elements directly
print ("We can access pieces of the response:")
print ("Id is: " , response['id'], " and name is: ", response['name'])

the response is of type  <class 'dict'>
{'id': 'SP50', 'name': 'S&P 500', 'count': 506, 'date': 20201113}
We can access pieces of the response:
Id is:  SP50  and name is:  S&P 500

In [20]:
#-- Expanding our example to return a named array containing the holdings

query = '''

!acct <- Account findId: "SP50" ;

#--  Create a JS object with some key/value pairs
!data <- JS newObject 
   set: "id" to: acct id .
   set: "name" to: acct name .
   set: "count" to: acct holdings count .
   set: "date" to: acct holdingsDate asInteger ;
   
#-- create an array of JS holding objects
!holdObjects <-
acct holdings first: 5 . 
 send: [ GlobalWorkspace JS newObject 
         set: "date" to: ^date asString .
         set: "acctId" to: account code .
         set: "secId" to: security code .
         set: "weight" to: percentOfPort .
       ] ;
       
#-- add a key-value pair to data object that references this vision list as an array
data set: "holdings" to: (JS newArrayFrom: holdObjects ) ;   
   
#-- Return the object as JSON   
 JS jsObject returnJSON: data jsParam

'''

#--  Call Vision to run the expression
getHoldings = vc.runvisionJSON(query)

print (getHoldings)

{'id': 'SP50', 'name': 'S&P 500', 'count': 506, 'date': 20201113, 'holdings': [{'date': '11/14/2020', 'acctId': '00000117', 'secId': '00105510', 'weight': 0.09257033203477451}, {'date': '11/14/2020', 'acctId': '00000117', 'secId': '00130H10', 'weight': 0.04667939748975759}, {'date': '11/14/2020', 'acctId': '00000117', 'secId': '74340W10', 'weight': 0.2571993653812963}, {'date': '11/14/2020', 'acctId': '00000117', 'secId': '00206R10', 'weight': 0.6926734849212118}, {'date': '11/14/2020', 'acctId': '00000117', 'secId': '00282410', 'weight': 0.6704050599137092}]}

In [21]:
#-- By default, we are printing the entire js object.  DataFrames help here

print("Holdings for: " + getHoldings['id'] + "  " + getHoldings['name'])
pd.DataFrame(getHoldings['holdings'])

Holdings for: SP50  S&P 500

     acctId        date     secId    weight
0  00000117  11/14/2020  00105510  0.092570
1  00000117  11/14/2020  00130H10  0.046679
2  00000117  11/14/2020  74340W10  0.257199
3  00000117  11/14/2020  00206R10  0.692673
4  00000117  11/14/2020  00282410  0.670405