## Vision-Python Demonstration Workbook: QA

*Objective*: To illustrate access to two vision services to enable QA work for comparing between two environments

In [1]:
import pandas as pd
import vconnect

#---  Create two connections - one to onprem and one to aws-in
vc_onprem = vconnect.VCconnection()
vc_onprem.setUrl('http://visdeva06.factset.com:10010/vision/api')
vc_awsin = vconnect.VCconnection()
vc_awsin.setUrl('http://visdevdb01.cts.fast-clientenv-aws.dev.us-east-1.aws.fdscloud.io:10010/vision/api')

In [2]:
#--  Let's confirm our connections

print(vc_onprem)
print('host for Server onprem:', vc_onprem.runvision('Utility hostname'))


print(vc_awsin)
print('host for Server awsin:', vc_awsin.runvision('Utility hostname'))

VCconnection for http://visdeva06.factset.com:10010/vision/api at 0x1e472f03438
host for Server onprem: visdeva06

VCconnection for http://visdevdb01.cts.fast-clientenv-aws.dev.us-east-1.aws.fdscloud.io:10010/vision/api at 0x1e472f035c0
host for Server awsin: visdevdb01

In [3]:
#--- Create some sample code to run

vcode = '''

JS getArrayFrom: [ Account findId: "SP50" . holdings ]
    for: "security code, security name, totalMarketValue, baseCurrency code"
    over: ^date 

'''

report_op = vc_onprem.runvisionJSON(vcode)
report_aws = vc_awsin.runvisionJSON(vcode)

In [4]:
#--- Display results in pandas DataFrame - op

print("On Prem")
pd.DataFrame(report_op['array']).head()

On Prem

,baseCurrency code,date,id,security code,security name,totalMarketValue
0,USD,20210203,00105510-00000117-2/2/2021,00105510,AFLAC Inc,3.025311e+10
1,USD,20210203,00130H10-00000117-2/2/2021,00130H10,AES Corp,1.712712e+10
2,USD,20210203,74340W10-00000117-2/2/2021,74340W10,ProLogis Inc,7.900815e+10
3,USD,20210203,00206R10-00000117-2/2/2021,00206R10,AT&T Inc,2.033760e+11
4,USD,20210203,00282410-00000117-2/2/2021,00282410,Abbott Laboratories,2.131088e+11

In [5]:
#--- Display results in pandas DataFrame - aws

print("AWS")
pd.DataFrame(report_aws['array']).head()

AWS

,baseCurrency code,date,id,security code,security name,totalMarketValue
0,USD,20210203,00105510-00000117-2/2/2021,00105510,AFLAC Inc,3.025311e+10
1,USD,20210203,00130H10-00000117-2/2/2021,00130H10,AES Corp,1.712712e+10
2,USD,20210203,74340W10-00000117-2/2/2021,74340W10,ProLogis Inc,7.900815e+10
3,USD,20210203,00206R10-00000117-2/2/2021,00206R10,AT&T Inc,2.033760e+11
4,USD,20210203,00282410-00000117-2/2/2021,00282410,Abbott Laboratories,2.131088e+11